#bigpicture-container {
  overflow: hidden;
  position: fixed;
  min-height: 100%;   
  min-width: 100%;    
  background: #D0D0D0;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#F0F0F0), to(#B0B0B0));
  background: -webkit-radial-gradient(#F0F0F0, #B0B0B0);
  background:    -moz-radial-gradient(#F0F0F0, #B0B0B0);
  background:      -o-radial-gradient(#F0F0F0, #B0B0B0);
  background:         radial-gradient(#F0F0F0, #B0B0B0);
  -webkit-font-smoothing: antialiased;
}

#bigpicture {
  position: absolute;
}

.text {
  font-family: "Arial";
  line-height: 1.1;
  outline: 0;
  position: absolute;
  min-width: 2px;
  cursor: text;
  word-wrap: break-word;
  white-space: pre;
  transition-duration: inherit;
}

.notransition {
  transition-duration: 0s; 
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}